<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="wrapper">
        <section class="bg-login">
            <div class="login">
                <div class="gb-login">
                    <img src="../../assets/img/login.png" alt="">
                </div>
                <div class="ts-login">
                    <form action="">
                        <center><h1>Login</h1></center>
                        <br><br>
                        <label for="">Id. Petugas :<br>
                            <input type="text" placeholder="ex: ADM002">
                        </label>
                        <label for="">Password :<br>
                            <input type="text" placeholder="ex: ******">
                        </label>
                        <button class="btn-login">Masuk</button>
                        <center><a href="">Lupa Password?</a></center>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>