<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/grid.css">
    <title>Panel</title>
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-2 col-sm-12">
                <div class="navigasi">
                    <div class="logo">
                        <center><h1>LOGO</h1></center>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="">Tambah Anggota</a></li>
                            <li><a href="">Tambah Petugas</a></li>
                            <li><a href="">Tambah Simpanan</a></li>
                            <li><a href="">Tambah Pinjaman</a></li>
                            <li><a href="">Tambah Angsuran</a></li>
                            <li><a href="">Tampil Anggota</a></li>
                            <li><a href="">Tampil Petugas</a></li>
                            <li><a href="">Tampil Simpanan</a></li>
                            <li><a href="">Tampil Pinjaman</a></li>
                            <li><a href="">Tampil Angsuran</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-10 col-sm-12">
                <div class="isi">
                    <h1>Tambah Anggota</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>